table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
} */


body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #456ca0fb;
}

form {
  margin-bottom: 20px;
}

form label {
  margin-top: 10px;
  display: block;
}

form input,
form select {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
   background-color: rgba(0, 157, 255, 0.244);
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #456ca0fb;
}

button {
  cursor: pointer;
}


form input[type="submit"] {
  background-color: hsl(184, 39%, 49%); /* Green color, you can change it to your preferred color */
  color: #fff; /* Text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: hsl(182, 37%, 45%); /* Darker green color on hover, you can change it too */
}








